<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zgw.core.consts.dao.IClassifyDao">
    <!--
        public Classify selectById(Long id);
    public List<Classify> selectAll();
    public List<Classify> selectByCondition(Classify classify);
    public Integer getTotalItemsCount(Classify classify);

    -->
    <sql id="All_Columns">
        name, code, parent_code, sort, create_time, create_user, update_time,
        update_user, del,clevel, id
    </sql>
    <select id="selectById" parameterType="long" resultType="com.zgw.core.consts.entity.Classify">
      SELECT
      <include refid="All_Columns"/>
        FROM classify
        WHERE id = #{id}
    </select>

    <select id="selectAll" resultType="com.zgw.core.consts.entity.Classify">
        SELECT
        <include refid="All_Columns"/>
        from classify
        WHERE del=0
        ORDER BY parent_code,sort
    </select>

    <select id="selectByCondition" parameterType="com.zgw.core.consts.entity.Classify"
            resultType="com.zgw.core.consts.entity.Classify">
        SELECT
        <include refid="All_Columns" />
        FROM classify
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            del = 0
            <if test="code != null">
                AND code = #{code}
            </if>
            <if test="parentCode != null">
                AND parent_code = #{parentCode}
            </if>
        </trim>
        ORDER BY parent_code , sort
    </select>

    <select id="getTotalItemsCount" resultType="int">
        SELECT
        <include refid="All_Columns"/>
        FROM classify
        WHERE del =0
    </select>
    <select id="selectByCode" parameterType="string"
            resultType="com.zgw.core.consts.entity.Classify">
        select
        <include refid="All_Columns"/>
        FROM classify
        WHERE code=#{code}
        and del=0
    </select>
    <insert id="createSelectivity" parameterType="com.zgw.core.consts.entity.Classify" flushCache="true"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO classify
        <trim prefix="(" suffix=")"  suffixOverrides="," >
            <if test="name != null ">
                name,
            </if>
            <if test="code != null ">
                CODE,
            </if>
            <if test="parentCode != null ">
                parent_code,
            </if>
            <if test="sort != null ">
                sort,
            </if>
            <if test="createTime != null ">
                create_time,
            </if>
            <if test="createUser != null ">
                create_user,
            </if>
            <if test="updateTime != null ">
                update_time,
            </if>
            <if test="updateUser != null ">
                update_user,
            </if>
            <if test="del != null ">
                del,
            </if>
            <if test="clevel != null">
                clevel,
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")"  suffixOverrides="," >
            <if test="name != null ">
                #{name, jdbcType=VARCHAR},
            </if>
            <if test="code != null ">
                #{code, jdbcType=VARCHAR},
            </if>
            <if test="parentCode != null ">
                #{parentCode, jdbcType=VARCHAR},
            </if>
            <if test="sort != null ">
                #{sort, jdbcType=INTEGER},
            </if>
            <if test="createTime != null ">
                #{createTime, jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null ">
                #{createUser, jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null ">
                #{updateTime, jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null ">
                #{updateUser, jdbcType=VARCHAR},
            </if>
            <if test="del != null ">
                #{del, jdbcType=TINYINT},
            </if>
            <if test="clevel != null">
                #{clevel},
            </if>
        </trim>
    </insert>
    <update id="updateSelectivity" parameterType="com.zgw.core.consts.entity.Classify" flushCache="true">
        UPDATE classify
        <trim prefix="SET" suffixOverrides="," >
            <if test="name != null ">
                name = #{name, jdbcType=VARCHAR},
            </if>
            <if test="parentCode != null ">
                parent_code = #{parentCode, jdbcType=VARCHAR},
            </if>
            <if test="sort != null ">
                sort = #{sort, jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null ">
                update_time = #{updateTime, jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null ">
                update_user = #{updateUser, jdbcType=VARCHAR},
            </if>
            <if test="del != null ">
                del = #{del, jdbcType=TINYINT},
            </if>
            <if test="clevel != null">
                clevel=#{clevel},
            </if>
        </trim>
        WHERE id = #{id, jdbcType = INTEGER}
    </update>
    <delete id="delete" parameterType="com.zgw.core.consts.entity.Classify" >
        DELETE FROM classify
        WHERE id = #{id, jdbcType=INTEGER}
    </delete>

    <update id="deleteLogic" parameterType="com.zgw.core.consts.entity.Classify" flushCache="true">
        UPDATE classify
        SET del = 1
        WHERE id = #{id, jdbcType=INTEGER}
    </update>
</mapper>