<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zgw.core.consts.dao.ISiteCarouselDao">

    <sql id="All_Columns">
        name, picture, url, weight, enable, create_time, create_user,
        update_time, update_user, del, id
    </sql>

    <select id="selectAllSiteCarousel" parameterType="int" resultType="com.zgw.core.consts.entity.SiteCarousel">
        select
        <include refid="All_Columns"/>
        from site_carousel
        WHERE enable=1
        ORDER BY weight DESC
        limit 0,#{count}
    </select>

    <select id="selectSiteCarouselById" parameterType="long" resultType="com.zgw.core.consts.entity.SiteCarousel">
        SELECT
        <include refid="All_Columns"/>
        from site_carousel
        WHERE id=#{id}
    </select>
    <select id="getTotalItemsCount" parameterType="com.zgw.core.consts.entity.SiteCarousel" resultType="java.lang.Integer">
        SELECT COUNT(*) from site_carousel
        WHERE del=0
    </select>
    <select id="queryPage" parameterType="com.zgw.core.consts.entity.SiteCarousel"
            resultType="com.zgw.core.consts.entity.SiteCarousel">
        SELECT
        <include refid="All_Columns"/>
        from site_carousel
        WHERE  del=0
        ORDER BY  id
        limit #{param2.startIndex}, #{param2.pageSize}
    </select>
    <insert id="create" parameterType="com.zgw.core.consts.entity.SiteCarousel"
            flushCache="true"  useGeneratedKeys="true" keyProperty="id"  >
        INSERT INTO site_carousel
        ( name, picture, url, weight, enable, create_time, create_user,
        update_time, update_user, del, id )
        VALUES
        ( #{name, jdbcType=VARCHAR}, #{picture, jdbcType=VARCHAR}, #{url, jdbcType=VARCHAR}, #{weight, jdbcType=INTEGER}, #{enable, jdbcType=TINYINT}, #{createTime, jdbcType=TIMESTAMP}, #{createUser, jdbcType=VARCHAR},
        #{updateTime, jdbcType=TIMESTAMP}, #{updateUser, jdbcType=VARCHAR}, #{del, jdbcType=TINYINT}, #{id, jdbcType=INTEGER} )
    </insert>
    <insert id="createSelectivity" parameterType="com.zgw.core.consts.entity.SiteCarousel"
            flushCache="true"  useGeneratedKeys="true" keyProperty="id"  >
        INSERT INTO site_carousel
        <trim prefix="(" suffix=")"  suffixOverrides="," >
            <if test="name != null ">
                name,
            </if>
            <if test="picture != null ">
                picture,
            </if>
            <if test="url != null ">
                url,
            </if>
            <if test="weight != null ">
                weight,
            </if>
            <if test="enable != null ">
                enable,
            </if>
            <if test="createTime != null ">
                create_time,
            </if>
            <if test="createUser != null ">
                create_user,
            </if>
            <if test="updateTime != null ">
                update_time,
            </if>
            <if test="updateUser != null ">
                update_user,
            </if>
            <if test="del != null ">
                del,
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")"  suffixOverrides="," >
            <if test="name != null ">
                #{name, jdbcType=VARCHAR},
            </if>
            <if test="picture != null ">
                #{picture, jdbcType=VARCHAR},
            </if>
            <if test="url != null ">
                #{url, jdbcType=VARCHAR},
            </if>
            <if test="weight != null ">
                #{weight, jdbcType=INTEGER},
            </if>
            <if test="enable != null ">
                #{enable, jdbcType=INTEGER},
            </if>
            <if test="createTime != null ">
                #{createTime, jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null ">
                #{createUser, jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null ">
                #{updateTime, jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null ">
                #{updateUser, jdbcType=VARCHAR},
            </if>
            <if test="del != null ">
                #{del, jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <update id="update" parameterType="com.zgw.core.consts.entity.SiteCarousel" flushCache="true">
        UPDATE site_carousel SET
        name = #{name, jdbcType=VARCHAR},
        picture = #{picture, jdbcType=VARCHAR},
        url = #{url, jdbcType=VARCHAR},
        weight = #{weight, jdbcType=INTEGER},
        enable = #{enable, jdbcType=TINYINT},
        update_time = #{updateTime, jdbcType=TIMESTAMP},
        update_user = #{updateUser, jdbcType=VARCHAR}
        WHERE id = #{id, jdbcType=INTEGER}
    </update>
    <update id="updateSelectivity" parameterType="com.zgw.core.consts.entity.SiteCarousel" flushCache="true">
        UPDATE site_carousel
        <trim prefix="SET" suffixOverrides="," >
            <if test="name != null ">
                name = #{name, jdbcType=VARCHAR},
            </if>
            <if test="picture != null ">
                picture = #{picture, jdbcType=VARCHAR},
            </if>
            <if test="url != null ">
                url = #{url, jdbcType=VARCHAR},
            </if>
            <if test="weight != null ">
                weight = #{weight, jdbcType=INTEGER},
            </if>
            <if test="enable != null ">
                enable = #{enable, jdbcType=TINYINT},
            </if>
            <if test="updateTime != null ">
                update_time = #{updateTime, jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null ">
                update_user = #{updateUser, jdbcType=VARCHAR},
            </if>
            <if test="del != null ">
                del = #{del, jdbcType=TINYINT},
            </if>
        </trim>
        WHERE id = #{id, jdbcType = INTEGER}

    </update>

    <delete id="delete" parameterType="com.zgw.core.consts.entity.SiteCarousel" >
        DELETE FROM site_carousel
        WHERE id = #{id, jdbcType=INTEGER}
    </delete>

    <update id="deleteLogic" parameterType="com.zgw.core.consts.entity.SiteCarousel" flushCache="true">
        UPDATE site_carousel
        SET del = 1
        WHERE id = #{id, jdbcType=INTEGER}
    </update>
</mapper>