<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zgw.core.course.dao.ICourseDao">
    <sql id="All_Columns">
        course_id,name, type, classify, classify_name, sub_classify, sub_classify_name, direction, username,
        level, free, price, time, onsale, brief, picture,studybefore,teachersay,
        recommend, weight, study_count, create_time, create_user, update_time,
        update_user, del, id
    </sql>
    <select id="getClassifyByUserName" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT
        DISTINCT sub_classify
        from course
        WHERE username=#{userName}
    </select>

    <select id="queryPageByTeacher" resultType="com.zgw.core.course.entity.Course">
        SELECT
        <include refid="All_Columns"/>
        FROM course
        <trim prefix="WHERE" prefixOverrides="AND |OR">
            AND del=0
            <if test="param1.subClassify != null">
                AND sub_classify=#{param1.subClassify}
            </if>
            <if test="param1.username != null">
                AND username = #{param1.username}
            </if>
        </trim>
        LIMIT #{param2.startIndex} , #{param2.pageSize}
    </select>
    <select id="getByCourseId" parameterType="long" resultType="com.zgw.core.course.entity.Course">
        SELECT
        <include refid="All_Columns"/>
        from course
        WHERE del=0
        AND course_id=#{courseId}
    </select>

    <select id="queryList"  parameterType="com.zgw.core.course.entity.CourseQueryDto"
            resultType="com.zgw.core.course.entity.Course">
        SELECT
        <include refid="All_Columns" />
        FROM course
        <trim prefix="WHERE " prefixOverrides="AND |OR ">
            <if test="type != null">
                AND type = #{type}
            </if>
            <if test="classify != null">
                AND classify = #{classify}
            </if>
            <if test="subClassify != null">
                AND sub_classify = #{subClassify}
            </if>
            <if test="direction != null">
                AND direction = #{direction}
            </if>
            <if test="username != null">
                AND username = #{username}
            </if>
            <if test="free != null">
                AND free = #{free}
            </if>
            <if test="onsale != null">
                AND onsale = #{onsale}
            </if>
        </trim>
        <if test="sortField != null">
            ORDER BY #{sortField}  #{sortDirection}
        </if>
        <if test="start != null and end != null">
            LIMIT #{start} , #{end}
        </if>
    </select>

    <select id="getTotalItemsCount" parameterType="com.zgw.core.course.entity.Course" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM course
        <trim prefix="WHERE " prefixOverrides="AND |OR ">
            AND del = 0
            <if test="type != null">
                AND type = #{type}
            </if>
            <if test="classify != null">
                AND classify = #{classify}
            </if>
            <if test="subClassify != null">
                AND sub_classify = #{subClassify}
            </if>
            <if test="username != null">
                AND username=#{username}
            </if>
            <if test="onsale != null">
                AND onsale = #{onsale}
            </if>
            <if test="name != null">
                AND name like CONCAT('%',#{name},'%' )
            </if>
        </trim>
    </select>
    <select id="getById" parameterType="java.lang.Long" resultType="com.zgw.core.course.entity.Course">
        SELECT
        <include refid="All_Columns"  />
        FROM course
        WHERE id = #{id}
        AND del = 0
    </select>

    <select id="getFiveCourses" parameterType="com.zgw.core.course.entity.Course"  resultType="com.zgw.core.course.entity.Course">
        SELECT
        <include refid="All_Columns"  />
        FROM t_course
        WHERE free = #{free}
        AND del = 0
        LIMIT 0 , 5
    </select>

    <select id="queryPage" resultType="com.zgw.core.course.entity.Course">
        SELECT
        <include refid="All_Columns" />
        FROM course
        <trim prefix="WHERE " prefixOverrides="AND |OR ">
            AND del = 0
            <if test="param1.type != null">
                AND type = #{param1.type}
            </if>
            <if test="param1.classify != null">
                AND classify = #{param1.classify}
            </if>
            <if test="param1.subClassify != null">
                AND sub_classify = #{param1.subClassify}
            </if>
            <if test="param1.onsale != null">
                AND onsale = #{param1.onsale}
            </if>
            <if test="param1.name != null">
                AND name like CONCAT('%',#{param1.name},'%' )
            </if>
        </trim>
        <if test="param2.sortField != null and param2.sortField != ''">
            ORDER BY ${param2.sortField}  ${param2.sortDirection}
        </if>
        LIMIT #{param2.startIndex} , #{param2.pageSize}
    </select>

    <insert id="createSelectivity" parameterType="com.zgw.core.course.entity.Course" flushCache="true"  useGeneratedKeys="true" keyProperty="id"  >
        INSERT INTO course
        <trim prefix="(" suffix=")"  suffixOverrides="," >
            <if test="courseId != null">
                course_id,
            </if>
            <if test="name != null ">
                name,
            </if>
            <if test="type != null ">
                type,
            </if>
            <if test="classify != null ">
                classify,
            </if>
            <if test="classifyName != null ">
                classify_name,
            </if>
            <if test="subClassify != null ">
                sub_classify,
            </if>
            <if test="subClassifyName != null ">
                sub_classify_name,
            </if>
            <if test="direction != null ">
                direction,
            </if>
            <if test="username != null ">
                username,
            </if>
            <if test="level != null ">
                level,
            </if>
            <if test="free != null ">
                free,
            </if>
            <if test="price != null ">
                price,
            </if>
            <if test="time != null ">
                time,
            </if>
            <if test="onsale != null ">
                onsale,
            </if>
            <if test="brief != null ">
                brief,
            </if>
            <if test="picture != null ">
                picture,
            </if>
            <if test="recommend != null ">
                recommend,
            </if>
            <if test="weight != null ">
                weight,
            </if>
            <if test="studyCount != null ">
                study_count,
            </if>
            <if test="createTime != null ">
                create_time,
            </if>
            <if test="createUser != null ">
                create_user,
            </if>
            <if test="updateTime != null ">
                update_time,
            </if>
            <if test="updateUser != null ">
                update_user,
            </if>
            <if test="del != null ">
                del,
            </if>
            <if test="studybefore != null">
                studybefore,
            </if>
            <if test="teachersay != null">
                teachersay,
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")"  suffixOverrides="," >
            <if test="courseId != null">
                #{courseId},
            </if>
            <if test="name != null ">
                #{name, jdbcType=VARCHAR},
            </if>
            <if test="type != null ">
                #{type, jdbcType=VARCHAR},
            </if>
            <if test="classify != null ">
                #{classify, jdbcType=VARCHAR},
            </if>
            <if test="classifyName != null ">
                #{classifyName, jdbcType=VARCHAR},
            </if>
            <if test="subClassify != null ">
                #{subClassify, jdbcType=VARCHAR},
            </if>
            <if test="subClassifyName != null ">
                #{subClassifyName, jdbcType=VARCHAR},
            </if>
            <if test="direction != null ">
                #{direction, jdbcType=VARCHAR},
            </if>
            <if test="username != null ">
                #{username, jdbcType=INTEGER},
            </if>
            <if test="level != null ">
                #{level, jdbcType=INTEGER},
            </if>
            <if test="free != null ">
                #{free, jdbcType=INTEGER},
            </if>
            <if test="price != null ">
                #{price, jdbcType=DECIMAL},
            </if>
            <if test="time != null ">
                #{time, jdbcType=VARCHAR},
            </if>
            <if test="onsale != null ">
                #{onsale, jdbcType=INTEGER},
            </if>
            <if test="brief != null ">
                #{brief, jdbcType=VARCHAR},
            </if>
            <if test="picture != null ">
                #{picture, jdbcType=VARCHAR},
            </if>
            <if test="recommend != null ">
                #{recommend, jdbcType=INTEGER},
            </if>
            <if test="weight != null ">
                #{weight, jdbcType=INTEGER},
            </if>
            <if test="studyCount != null ">
                #{studyCount, jdbcType=INTEGER},
            </if>
            <if test="createTime != null ">
                #{createTime, jdbcType=DATE},
            </if>
            <if test="createUser != null ">
                #{createUser, jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null ">
                #{updateTime, jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null ">
                #{updateUser, jdbcType=VARCHAR},
            </if>
            <if test="del != null ">
                #{del, jdbcType=TINYINT},
            </if>
            <if test="studybefore != null">
                #{studybefore},
            </if>
            <if test="teachersay != null">
                #{teachersay},
            </if>
        </trim>
    </insert>
    <update id="updateSelectivity" parameterType="com.zgw.core.course.entity.Course" flushCache="true">
    UPDATE course
    <trim prefix="SET" suffixOverrides="," >
        <if test="name != null ">
            name=#{name, jdbcType=VARCHAR},
        </if>
        <if test="type != null ">
            type=#{type, jdbcType=VARCHAR},
        </if>
        <if test="classify != null ">
            classify=#{classify, jdbcType=VARCHAR},
        </if>
        <if test="classifyName != null ">
           classify_name= #{classifyName, jdbcType=VARCHAR},
        </if>
        <if test="subClassify != null ">
           sub_classify= #{subClassify, jdbcType=VARCHAR},
        </if>
        <if test="subClassifyName != null ">
           sub_classify_name= #{subClassifyName, jdbcType=VARCHAR},
        </if>
        <if test="direction != null ">
            direction=#{direction, jdbcType=VARCHAR},
        </if>
        <if test="username != null ">
            username=#{username, jdbcType=INTEGER},
        </if>
        <if test="level != null ">
            level=#{level, jdbcType=INTEGER},
        </if>
        <if test="free != null ">
            free=#{free, jdbcType=INTEGER},
        </if>
        <if test="price != null ">
            price=#{price, jdbcType=DECIMAL},
        </if>
        <if test="time != null ">
            time=#{time, jdbcType=VARCHAR},
        </if>
        <if test="onsale != null ">
            onsale=#{onsale, jdbcType=INTEGER},
        </if>
        <if test="brief != null ">
            brief=#{brief, jdbcType=VARCHAR},
        </if>
        <if test="picture != null ">
            picture=#{picture, jdbcType=VARCHAR},
        </if>
        <if test="recommend != null ">
            recommend=#{recommend, jdbcType=INTEGER},
        </if>
        <if test="weight != null ">
            weight=#{weight, jdbcType=INTEGER},
        </if>
        <if test="studyCount != null ">
            study_count=#{studyCount, jdbcType=INTEGER},
        </if>
        <if test="createTime != null ">
            create_time=#{createTime, jdbcType=TIMESTAMP},
        </if>
        <if test="createUser != null ">
            create_user=#{createUser, jdbcType=VARCHAR},
        </if>
        <if test="updateTime != null ">
            update_time=#{updateTime, jdbcType=TIMESTAMP},
        </if>
        <if test="updateUser != null ">
            update_user=#{updateUser, jdbcType=VARCHAR},
        </if>
        <if test="del != null ">
           del= #{del, jdbcType=TINYINT},
        </if>
        <if test="studybefore != null">
            studybefore=#{studybefore},
        </if>
        <if test="teachersay != null">
            teachersay=#{teachersay},
        </if>
    </trim>
    WHERE course_id = #{courseId}
    </update>
    <delete id="delete" parameterType="com.zgw.core.course.entity.Course" >
        DELETE
        FROM course
        WHERE course_id = #{courseId, jdbcType=INTEGER}
    </delete>

    <update id="deleteLogic" parameterType="com.zgw.core.course.entity.Course" flushCache="true">
        UPDATE course
        SET del = 1
        WHERE course_id = #{courseId, jdbcType=INTEGER}
    </update>

</mapper>